# Splitwise Personal API Key (optional if user enters it in client browser UI)
SPLITWISE_API_KEY=your_api_key_here

# Local Web Server Port
PORT=3000

# Application Environment Mode (development / production)
NODE_ENV=development
